.movie-poster {
    height: 330px;
  }

.movie-poster:hover{
    transform: scale(1.1);
    border: 2px solid #fff;
    box-shadow:
      0 -40px 100px,
      0 0 2px,
      0 0 1em #90EE90,
      0 0 0.5em #90EE90,
      0 0 0.1em #90EE90,
      0 10px 3px #000;
    cursor: pointer;
  }

  .movie-card {
    margin: 0;
  }
