.movie-poster {
  margin: 0;
  height: 330px;
  transition: transform 400ms;
  }

.movie-poster:hover{
  transform: scale(1.1);
  color: #90EE90;
  box-sizing: border-box;
  box-shadow:
  0 -40px 100px,
  0 0 2px,
  0 0 1em #90EE90,
  0 0 0.5em #90EE90,
  0 0 0.1em #90EE90,
  0 10px 3px #000;
  cursor: pointer;
}
